
body{
    text-align:center;
}


/*display current time clock*/

#display-time{
    text-align: center; 
    margin-top: 50px;
}

#clock{
    border: 1px solid black;
    font-size: 1.8rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: lavenderblush;
}

/* Set Alarm Form*/

.alarm-heading h3{
    font-size: 1.5rem;
    color: #000000;
}

#controls{
    margin-top:22px;
    text-align:center;  
}

#controls button{
    padding: 7px;
    border: 1px solid black;
    border-radius: 1rem;
    font-size: 1rem;
    color: #ffffff;
}

#controls .set-alarm{
    background-color: rgb(112, 187, 171);
}

#controls .set-alarm:hover{
    background-color: rgb(34, 121, 101);
}

#controls .clear-alarm{
    background-color: rgb(36, 126, 185);
}

#controls .clear-alarm:hover{
    background-color: rgb(10, 75, 119);
}

/* Complete alarm clock*/
#main-container{
    border:1px solid black;
    background-image: linear-gradient(#ffe0e0 , #30488b);
    height: 97vh;
    width: 35%;
    min-width: 332px;
    margin: auto;
}

/* upcoming alarm block */

.time-list {
    font-size: 1.4rem;
    font-weight: bold;
    border: 1px solid black;
    list-style: none;  
    background-color: lightgrey;
    margin-left: -20px;
    margin-right: 16px;
    height: 45px;
    width: 90%;
}

.time-list #delete-button{
    background-color: red;
    font-size: 0.9rem;
    padding: 5px;
    color: white;
    border: 1px solid black;
    font-size: 1rem;
    float: right;
    margin-right: 0.8rem;
}

.time-list span,button{
    margin-top: 10px;
}

.time-list .time{
    float: left;
    margin-left: 0.8rem;
}